# Lab Report: Database Management in Python
## Topic: SQLite,SQLAlchemy, and NoSQL Integration

## Objectives
- To implement a local relational database using SQLite.
- To abstract database interactions using the SQLAlchemy ORM.
- To understand document-oriented data storage using NoSQL (MongoDB).

## Theory
## Relational Databases (SQLite & SQLAlchemy)
- SQLite is a C-language library that implements a small, fast, self-contained SQL database engine. It is "serverless," meaning the database is just a file on your disk.

- SQLAlchemy is an Object-Relational Mapper (ORM). Instead of writing raw SQL strings like SELECT * FROM users, you interact with Python objects. This prevents SQL injection and makes the code more readable.

- NoSQL (MongoDB)
Unlike SQL databases that use tables and rows, NoSQL databases like MongoDB use collections and documents (similar to JSON/Python dictionaries). This allows for a "schemaless" design where different records can have different fields.

## Implementation

## SQLite implementation: 
- Program to create a simple "Students table and insert data using standard SQL.

In [1]:
import sqlite3

conn = sqlite3.connect('lab_database.db')
cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE IF NOT EXISTS students (
        id INTEGER PRIMARY KEY,
        name Text,
        grade REAL
    )
''')


cursor.execute("Insert into students (name, grade) values ('Alice', 85.5)")
conn.commit()



cursor.execute("Select * from students")
print("SQLite Output:", cursor.fetchall())

conn.close()

SQLite Output: [(1, 'Alice', 85.5)]

## SQLAlchemy ORM
- This program performs the same task but uses classes to represent tables.

In [ ]:
from sqlalchemy import create_engine, Column, Integer, String, Float
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

Base = declarative_base()


class Student(Base):
    __tablename__ = 'students'
    id = Column(Integer, primary_key=True)
    name = Column(String)
    grade = Column(Float)


engine = create_engine('sqlite:///sqlalchemy_lab.db')
Base.metadata.create_all(engine)
Session = sessionmaker(bind=engine)
session = Session()


new_student = Student(name='Bob', grade=92.0)
session.add(new_student)
session.commit()


student = session.query(Student).filter_by(name='Bob').first()
print(f"SQLAlchemy Output: {student.name} - {student.grade}")

## NoSQL with MongoDB

In [6]:
from pymongo import MongoClient


uri = "mongodb+srv://user_1:glCQ2iQmDjdFDMZ3@advancedpythonlab.jsbn42e.mongodb.net/?appName=AdvancedPythonLab"

try:
    
    client = MongoClient(uri)
    
  
    db = client['lab_report_db']
    collection = db['students']

    student_data = {
        "name": "Charlie",
        "grade": 95,
        "hobbies": ["Coding", "Cycling"] 
    }
    
    
    insert_result = collection.insert_one(student_data)
    print(f"✅ Document inserted with ID: {insert_result.inserted_id}")

    
    result = collection.find_one({"name": "Charlie"})
    print("NoSQL Output:", result)

except Exception as e:
    print(f"❌ Connection Error: {e}")

✅ Document inserted with ID: 6978ca95da1dd0fab3ca0aec
NoSQL Output: {'_id': ObjectId('6978ca95da1dd0fab3ca0aec'), 'name': 'Charlie', 'grade': 95, 'hobbies': ['Coding', 'Cycling']}

## Conclusion
In this lab, we successfully moved from managing data via raw strings (SQLite) to managing data through Pythonic objects (SQLAlchemy). We also explored NoSQL, which offers significantly more flexibility for data that doesn't fit into a rigid table structure.