In [ ]:
{
 "cells": [
  {
   "cell_type": "markdown",
   "id": "c4d892d1",
   "metadata": {},
   "source": [
    "# Lab Report: Database Management in Python\n",
    "## Topic: SQLite,SQLAlchemy, and NoSQL Integration"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "7d516734",
   "metadata": {},
   "source": [
    "## Objectives\n",
    "- To implement a local relational database using SQLite.\n",
    "- To abstract database interactions using the SQLAlchemy ORM.\n",
    "- To understand document-oriented data storage using NoSQL (MongoDB).\n"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "62fa4295",
   "metadata": {},
   "source": [
    "## Theory\n",
    "## Relational Databases (SQLite & SQLAlchemy)\n",
    "- SQLite is a C-language library that implements a small, fast, self-contained SQL database engine. It is \"serverless,\" meaning the database is just a file on your disk.\n",
    "\n",
    "- SQLAlchemy is an Object-Relational Mapper (ORM). Instead of writing raw SQL strings like SELECT * FROM users, you interact with Python objects. This prevents SQL injection and makes the code more readable.\n",
    "\n",
    "- NoSQL (MongoDB)\n",
    "Unlike SQL databases that use tables and rows, NoSQL databases like MongoDB use collections and documents (similar to JSON/Python dictionaries). This allows for a \"schemaless\" design where different records can have different fields."
   ]
  },
  {
   "cell_type": "markdown",
   "id": "be84a1a6",
   "metadata": {},
   "source": [
    "## Implementation\n",
    "\n",
    "## SQLite implementation: \n",
    "- Program to create a simple \"Students table and insert data using standard SQL."
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 1,
   "id": "e65fc5b2",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "SQLite Output: [(1, 'Alice', 85.5)]\n"
     ]
    }
   ],
   "source": [
    "import sqlite3\n",
    "\n",
    "conn = sqlite3.connect('lab_database.db')\n",
    "cursor = conn.cursor()\n",
    "\n",
    "cursor.execute('''\n",
    "    CREATE TABLE IF NOT EXISTS students (\n",
    "        id INTEGER PRIMARY KEY,\n",
    "        name Text,\n",
    "        grade REAL\n",
    "    )\n",
    "''')\n",
    "\n",
    "\n",
    "cursor.execute(\"Insert into students (name, grade) values ('Alice', 85.5)\")\n",
    "conn.commit()\n",
    "\n",
    "\n",
    "\n",
    "cursor.execute(\"Select * from students\")\n",
    "print(\"SQLite Output:\", cursor.fetchall())\n",
    "\n",
    "conn.close()\n"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "1d45beb4",
   "metadata": {},
   "source": [
    "## SQLAlchemy ORM\n",
    "- This program performs the same task but uses classes to represent tables."
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "f4fd2dfd",
   "metadata": {},
   "outputs": [],
   "source": [
    "from sqlalchemy import create_engine, Column, Integer, String, Float\n",
    "from sqlalchemy.ext.declarative import declarative_base\n",
    "from sqlalchemy.orm import sessionmaker\n",
    "\n",
    "Base = declarative_base()\n",
    "\n",
    "\n",
    "class Student(Base):\n",
    "    __tablename__ = 'students'\n",
    "    id = Column(Integer, primary_key=True)\n",
    "    name = Column(String)\n",
    "    grade = Column(Float)\n",
    "\n",
    "\n",
    "engine = create_engine('sqlite:///sqlalchemy_lab.db')\n",
    "Base.metadata.create_all(engine)\n",
    "Session = sessionmaker(bind=engine)\n",
    "session = Session()\n",
    "\n",
    "\n",
    "new_student = Student(name='Bob', grade=92.0)\n",
    "session.add(new_student)\n",
    "session.commit()\n",
    "\n",
    "\n",
    "student = session.query(Student).filter_by(name='Bob').first()\n",
    "print(f\"SQLAlchemy Output: {student.name} - {student.grade}\")"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "13d7d000",
   "metadata": {},
   "source": [
    "## NoSQL with MongoDB\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 6,
   "id": "bc0d2cc1",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "✅ Document inserted with ID: 6978ca95da1dd0fab3ca0aec\n",
      "NoSQL Output: {'_id': ObjectId('6978ca95da1dd0fab3ca0aec'), 'name': 'Charlie', 'grade': 95, 'hobbies': ['Coding', 'Cycling']}\n"
     ]
    }
   ],
   "source": [
    "from pymongo import MongoClient\n",
    "\n",
    "\n",
    "uri = \"mongodb+srv://user_1:glCQ2iQmDjdFDMZ3@advancedpythonlab.jsbn42e.mongodb.net/?appName=AdvancedPythonLab\"\n",
    "\n",
    "try:\n",
    "    \n",
    "    client = MongoClient(uri)\n",
    "    \n",
    "  \n",
    "    db = client['lab_report_db']\n",
    "    collection = db['students']\n",
    "\n",
    "    student_data = {\n",
    "        \"name\": \"Charlie\",\n",
    "        \"grade\": 95,\n",
    "        \"hobbies\": [\"Coding\", \"Cycling\"] \n",
    "    }\n",
    "    \n",
    "    \n",
    "    insert_result = collection.insert_one(student_data)\n",
    "    print(f\"✅ Document inserted with ID: {insert_result.inserted_id}\")\n",
    "\n",
    "    \n",
    "    result = collection.find_one({\"name\": \"Charlie\"})\n",
    "    print(\"NoSQL Output:\", result)\n",
    "\n",
    "except Exception as e:\n",
    "    print(f\"❌ Connection Error: {e}\")"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "ba8da314",
   "metadata": {},
   "source": [
    "## Conclusion\n",
    "In this lab, we successfully moved from managing data via raw strings (SQLite) to managing data through Pythonic objects (SQLAlchemy). We also explored NoSQL, which offers significantly more flexibility for data that doesn't fit into a rigid table structure."
   ]
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": ".venv",
   "language": "python",
   "name": "python3"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 3
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython3",
   "version": "3.13.11"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 5
}